{% extends '../base/base.html' %}
{% load static %}
{% block content %}
<h1>{{ product.product_name }}</h1>
<ul>
    <li>{{product.product_description}}</li>
    <img src="../../media/{{ product.image }}" height="600px">
    <p>&euro;{{ product.price }}</p>
    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal"
            data-target="#buy{{ product.pk }}">
     <i class="fa fa-eye" aria-hidden="true">Bestel!</i>
                                    
    </button>
    {% include "detail/product_buy_modals.html" %}
</ul>

{% endblock %}